* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: greenyellow;
}

:root {
  --font-family: Karla, sans-serif;
  --font-weight-700: 700;
}

.main-container {
  width: 550px;
  height: 550px;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

/* Header styles */

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  height: 65px;
  padding: 20px;
  color: white;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.header-title {
  font-size: 21px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-700);
  margin-right: auto;
}

.header-text {
  font-size: 12px;
  font-family: var(--font-family);
  font-weight: 400;
  line-height: 15px;
}

/* Meme styles */

.meme-container {
  width: 480px;
  margin: 0 auto;
  gap: 10px;
  margin-top: 36px;
}
.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.field-1 {
  width: 230px;
  height: 35px;
  border: 1px solid rgba(213, 212, 216, 1);
  border-radius: 5px;
  padding-left: 10px;
}
.field-2 {
  width: 230px;
  height: 35px;
  border: 1px solid rgba(213, 212, 216, 1);
  border-radius: 5px;
  padding-left: 10px;
}

.generate-btn {
  width: 480px;
  height: 40px;
  color: white;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-700);
  line-height: 19px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}
